@model DoAnCoSoWeb.ViewModels.ProductViewModels
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DoAnCoSoWeb</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/fonts/fontawesome-free-6.5.2-web/css/all.css" />
    <link rel="stylesheet" href="~/DoAnCoSoWeb.styles.css" asp-append-version="true" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f8f9fa;
        }
    </style>
    <script>
        $(document).ready(function () {
            $('.list-item > a').click(function (e) {
                e.preventDefault();
                $(this).next('ul').slideToggle();
            });
        });
    </script>
</head>
<body>
    <div class="container-admin">
        <main class="Admin-home">
            <nav class="menu-admin-home" id="admin">
                <div class="title-menu-admin">
                    <h1 class="title-admin">Quản Lý</h1>
                </div>
                <ul class="list">
                    <li class="list-item">
                        <a class="a-admin" href="#" title="Quản lý sản phẩm">
                            Quản lý sản phẩm
                        </a>
                        <ul>
                            <li><a class="mini-item" href="danh-sach-san-pham">Danh Sách Sản Phẩm</a></li>
                            <li><a class="mini-item" href="them-san-pham">Thêm Sản Phẩm Mới</a></li>
                        </ul>
                    </li>
                    <li class="list-item">
                        <a class="a-admin" href="#" title="Quản lý đơn hàng">
                            Quản lý đơn hàng
                        </a>
                    </li>
                    <li class="list-item">
                        <a class="a-admin" href="#" title="Quản lý danh mục">
                            Quản lý danh mục
                        </a>
                        <ul>
                            <li><a class="mini-item" href="danh-sach-loai-san-pham">Danh Sách Danh Mục</a></li>
                            <li><a class="mini-item" href="them-loai-san-pham">Thêm Danh Mục Mới</a></li>
                        </ul>
                    </li>
                    <li class="list-item">
                        <a class="a-admin" href="#" title="Quản lý doanh thu">
                            Quản lý doanh thu
                        </a>
                        <ul>
                            @* <li><a class="mini-item" href="#">Doanh Thu Tháng</a></li> *@
                            <li><p>Hello</p></li>
                            <li><a href="@Url.Action("DailyRevenue", "User", new { type = "ram" })" class="category-items-link">Doanh Thu Ngày</a></li>
                            <li><a href="@Url.Action("MonthlyRevenue", "User", new { type = "ram" })" class="category-items-link">Doanh Thu Tháng</a></li>
                            <li><a href="@Url.Action("YearRevenue", "User", new { type = "ram" })" class="category-items-link">Doanh Thu Năm</a></li>
                        </ul>
                    </li>
                    <li class="list-item">
                        <a class="a-admin" href="#" title="Quản lý email liên hệ">
                            Quản lý email liên hệ
                        </a>
                        <ul>
                            <li><a class="mini-item" href="thongtin-lienhe">Doanh Thu Năm</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </main>
        <div class="container-pagebody">
            <div class="content-pagebody">
                <div class="page-header">
                    <h3 class="page-title">Thống kê đơn hàng</h3>
                </div>
                
                <h1>Đơn hàng</h1>

                <table class="table">
                    <thead>
                        <tr>
                            <th class="row_titile_name">ID</th>
                            <th class="row_titile_name">Avatar</th>
                            <th class="row_titile_name" style="width: 120px;">Product Name</th>
                            <th class="row_titile_name">Quantity</th>
                            <th class="row_titile_name" style="width: 120px;">Total</th>
                            <th class="row_titile_name">Account Name</th>
                            <th class="row_titile_name" style="width: 120px;">Phone</th>
                            <th class="row_titile_name" style="width: 120px;">Address</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var payment in Model.chiTietHoaDons)
                        {
                            <tr>
                                <td class="row_show">@payment.Id</td>
                                <td>
                                    <img style="border-radius: 50%; wdith: 20px; height: 20px" src="/image/@Model.accounts.FirstOrDefault(a => a.Id == payment.AccountId)?.AnhDaiDien" />
                                </td>
                                <td class="row_show">@Model.Sanpham.FirstOrDefault(s => s.Id == payment.SanphamId)?.TenSanPham</td>
                                <td class="row_show">@payment.SoLuong</td>
                                <td class="row_show">@payment.ThanhTien</td>
                                <td class="row_show">@Model.accounts.FirstOrDefault(a => a.Id == payment.AccountId)?.Username</td>
                                <td class="row_show">@payment.Phone</td>
                                <td class="row_show">@payment.DiaChi</td>
                                <td class="row_show">
                                    <a>Edit</a>
                                    <a>Deleted</a>
                                    <a>Xác nhận</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</body>
</html>